<div class="container-fluid">
  <div class="mt-5">

    <div class="card shadow-sm">
      <div class="card-body text-center" *ngIf="authService.user$ | async as user">
        <div class="mb-4">
          <img class="img-fluid rounded-circle img-thumbnail cool" [src]="user.picture" alt="User profile picture">
        </div>
        <h5 class="card-title">{{ user.name }}</h5>
        <h6 class="card-subtitle mb-4 text-muted">{{ user.email }}</h6>
        <button type="button" class="btn btn-lg btn-block btn-outline-cool"
                (click)="authService.logout({ returnTo: document.location.origin })">
          Logout
        </button>
      </div>
    </div>

  </div>
</div>
