<div class="d-flex">
  <div class="flex-fill mr-1">
    <div class="card shadow-sm">
      <div class="card-body bg-cool">
        <h5 class="card-title text-center text-white m-0">₱550.00</h5>
      </div>
      <div class="card-footer text-center bg-transparent">
        <h6 class="m-0">Today's Sales</h6>
      </div>
    </div>
  </div>
  <div class="flex-fill ml-1">
    <div class="card shadow-sm">
      <div class="card-body bg-cool">
        <h5 class="card-title text-center text-white m-0">₱21550.00</h5>
      </div>
      <div class="card-footer text-center bg-transparent">
        <h6 class="m-0">This Month</h6>
      </div>
    </div>
  </div>
</div>
