<div class="container-fluid px-0">
  <div class="row no-gutters">

    <div class="col-6 col-sm-6 pr-1">
      <div class="card shadow-sm">
        <div class="card-body rounded-top bg-cool">
          <h4 class="card-title text-center text-white m-0">₱{{ todaySales | number }}</h4>
        </div>
        <div class="card-footer text-center bg-transparent">
          <h6 class="m-0">Today's Sales</h6>
        </div>
      </div>
    </div>

    <div class="col-6 col-sm-6 pl-1">
      <div class="card shadow-sm">
        <div class="card-body rounded-top bg-cool">
          <h4 class="card-title text-center text-white m-0">₱{{ thisMonthSales | number }}</h4>
        </div>
        <div class="card-footer text-center bg-transparent">
          <h6 class="m-0">This Month</h6>
        </div>
      </div>
    </div>

  </div>
</div>
