<div class="container-fluid px-0">
  <div class="row no-gutters">

    <div class="col-6 col-sm-6 pr-1">
      <div class="card">
        <div class="card-body rounded-top bg-primary">
          <h4 class="card-title text-center text-white m-0">{{ todaySales | currency:'PHP':'₱' }}</h4>
        </div>
        <div class="card-footer text-center bg-transparent">
          <small>Today's Sales</small>
        </div>
      </div>
    </div>

    <div class="col-6 col-sm-6 pl-1">
      <div class="card">
        <div class="card-body rounded-top bg-primary">
          <h4 class="card-title text-center text-white m-0">{{ thisMonthSales | currency:'PHP':'₱' }}</h4>
        </div>
        <div class="card-footer text-center bg-transparent">
          <small>This Month</small>
        </div>
      </div>
    </div>

  </div>
</div>
