<div class="container-fluid">
  <div class="mt-5">

    <div class="input-group mt-1 mb-3">
      <input #searchBox id="search-box" (input)="search(searchBox.value)" type="text" class="form-control" placeholder="Search by name or barcode">
      <div class="input-group-append">
        <button type="button" class="btn btn-primary"><i class="bi bi-search"></i></button>
      </div>
    </div>

    <h4 class="d-flex justify-content-between align-items-center mb-3">
      <span class="card-title mb-0 align-self-center">
        <i class="bi bi-inboxes-fill text-primary"></i>
        Products
      </span>
      <a class="btn btn-primary" routerLink="/products/form">
        Add new
      </a>
    </h4>

    <div class="card">
      <div class="card-body p-0">
        <table class="table table-light table-striped mb-0">
          <thead>
            <tr>
              <th>Product</th>
              <th>Cost</th>
              <th>Price</th>
              <th>Qty</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="!pagedResult">
              <td colspan="4">
                <div class="text-center">
                  <div class="spinner-border text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
                </div>
              </td>
            </tr>
            <tr *ngFor="let product of (pagedResult ? pagedResult.data : [])">
              <td class="align-middle">
                <a class="text-primary" routerLink="/products/form/{{product.id}}">
                  {{product.name}}
                  <br /><small>{{product.upc}}</small>
                </a>                
              </td>
              <td class="align-middle">₱{{product.cost}}</td>
              <td class="align-middle text-primary">₱{{product.price}}</td>
              <td class="align-middle text-primary">{{product.quantity}}</td>
            </tr>
            <tr *ngIf="pagedResult && pagedResult.data.length===0">
              <td colspan="4">No records found</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row mt-3" *ngIf="pagedResult && pagedResult.collectionSize > pagedQuery.pageInfo.pageSize">

      <div class="col-sm-5">
        <p class="text-center text-sm-left mb-0">
          Showing {{ (pagedQuery.pageInfo.pageSize * (pagedQuery.pageInfo.page - 1)) + 1 }}
          to {{ (pagedQuery.pageInfo.pageSize * pagedQuery.pageInfo.page) - (pagedQuery.pageInfo.page - pagedResult.data.length) }}
          of {{ pagedResult.collectionSize }} records
        </p>
      </div>

      <div class="col-sm-7">
        <ngb-pagination class="d-flex justify-content-sm-end justify-content-center"
                        [(page)]="pagedQuery.pageInfo.page"
                        [pageSize]="pagedQuery.pageInfo.pageSize"
                        [collectionSize]="pagedResult.collectionSize"
                        (pageChange)="getProducts()">
        </ngb-pagination>
      </div>
    </div>

  </div>

</div>
