<div class="container-fluid">
  <div class="mt-5">

    <div class="input-group cool mt-1 mb-3">
      <input #searchBox id="search-box" (input)="search(searchBox.value)" type="text" class="form-control" placeholder="Search by name or barcode">
      <div class="input-group-append">
        <button type="button" class="btn btn-cool text-white"><i class="bi bi-search"></i></button>
      </div>
    </div>

    <h4 class="d-flex justify-content-between align-items-center mb-3">
      <span class="card-title mb-0 align-self-center">
        <i class="bi bi-inboxes-fill text-cool"></i>
        Products
      </span>
      <a class="btn btn-cool text-white" routerLink="/products/form">
        Add new
      </a>
    </h4>

    <div class="card shadow-sm">
      <div class="card-body p-0">
        <table class="table table-light table-striped mb-0">
          <thead>
            <tr>
              <th>Product</th>
              <th>Cost</th>
              <th>Price</th>
              <th>Qty</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of pagedResult.data">
              <td class="align-middle">
                <a class="text-cool" routerLink="/products/form/{{product.id}}">
                  {{product.name}}
                  <br />{{product.upc}}
                </a>                
              </td>
              <td class="align-middle">₱{{product.cost}}</td>
              <td class="align-middle text-cool">₱{{product.price}}</td>
              <td class="align-middle text-cool">{{product.quantity}}</td>
            </tr>
            <tr class="table-warning"
                *ngIf="pagedResult.data.length===0">
              <td colspan="4">No records found</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row mt-3" *ngIf="pagedResult.collectionSize > pagedQuery.pageInfo.pageSize">

      <div class="col-sm-5">
        <p class="text-center text-sm-left mb-0">
          Showing {{ (pagedQuery.pageInfo.pageSize * (pagedQuery.pageInfo.page - 1)) + 1 }}
          to {{ (pagedQuery.pageInfo.pageSize * pagedQuery.pageInfo.page) - (pagedQuery.pageInfo.page - pagedResult.data.length) }}
          of {{ pagedResult.collectionSize }} records
        </p>
      </div>

      <div class="col-sm-7">
        <ngb-pagination class="d-flex justify-content-sm-end justify-content-center page-cool"
                        [(page)]="pagedQuery.pageInfo.page"
                        [pageSize]="pagedQuery.pageInfo.pageSize"
                        [collectionSize]="pagedResult.collectionSize"
                        (pageChange)="getProducts()">
        </ngb-pagination>
      </div>
    </div>

  </div>

</div>
