.bg-content-a {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background: #8fb7c1 url(/assets/404-bg-content-a.jpg) repeat-x;
}

.bg-content-b {
  overflow: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  background: url(/assets/404-bg-content-b.jpg) 50% 0 no-repeat;
}

.error-content {
  margin-top: 5vh;
  padding: 1.2rem;
}

.fw-normal {
  font-weight:normal;
}

.text-cool {
  color: #a8385d;
}
