<div class="bg-content-a">
  <div class="bg-content-b">
    <div class="error-content text-white">
      <h1>Ooops.. 404!</h1>
      <h4 class="mb-3">Looks like something went wrong!</h4>
      <h5 class="fw-normal mb-5">
        The page you were looking for appears to have been moved, deleted or does not exist. You could go back to our
        <a class="text-dark" routerLink="/">home page</a>
      </h5>
      <img src="assets/404-shinobi.png" alt="Ninja" class="d-block mx-auto" style="height:200px;width:200px;" />
    </div>
  </div>
</div>
