<div class="container-fluid">

  <div class="mt-5">

    <h4 class="d-flex justify-content-between align-items-center mb-3">
      <span class="text-cool">Product details</span>
      <span class="badge bg-cool text-white rounded-pill">{{product && product.id > 0 ? 'update' : 'new'}}</span>
    </h4>

    <form #productForm="ngForm" (ngSubmit)="save()">

      <fieldset class="card" [disabled]="submitted" *ngIf="product">

        <div class="card-body">

          <div class="form-group">
            <label class="font-weight-normal" for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter product name"
                   required
                   [(ngModel)]="product.name"
                   [ngClass]="{'is-invalid': !name.valid && !name.pristine}"
                   #name="ngModel">
            <div class="invalid-feedback">
              <span *ngIf="!serviceResult.validationErrors || !serviceResult.validationErrors.name">Please enter the product's name.</span>
              <span *ngIf="serviceResult.validationErrors && serviceResult.validationErrors.name">{{ serviceResult.validationErrors.name }}</span>
            </div>
          </div>

          <div class="form-group">
            <label class="font-weight-normal" for="upc">Barcode</label>            
            <div class="input-group">
              <input type="text" class="form-control" id="upc" name="upc" placeholder="Enter product barcode"
                     required
                     [(ngModel)]="product.upc"
                     [ngClass]="{'is-invalid': !upc.valid && !upc.pristine}"
                     #upc="ngModel">
              <div class="input-group-append">
                <button type="button" class="btn btn-cool text-white"
                        (click)="scanBarcode()">
                  <i class="bi bi-camera"></i>
                </button>
              </div>
            </div>
            <div class="invalid-feedback">
              <span *ngIf="!serviceResult.validationErrors || !serviceResult.validationErrors.upc">Please enter the product's barcode.</span>
              <span *ngIf="serviceResult.validationErrors && serviceResult.validationErrors.upc">{{ serviceResult.validationErrors.upc }}</span>
            </div>
          </div>

          <div class="form-group">
            <label class="font-weight-normal" for="cost">Cost</label>
            <input type="number" class="form-control" id="cost" name="cost"
                   required
                   [(ngModel)]="product.cost"
                   [ngClass]="{'is-invalid': !cost.valid && !cost.pristine}"
                   #cost="ngModel">
            <div class="invalid-feedback">
              <span *ngIf="!serviceResult.validationErrors || !serviceResult.validationErrors.cost">Please enter the product's cost.</span>
              <span *ngIf="serviceResult.validationErrors && serviceResult.validationErrors.cost">{{ serviceResult.validationErrors.cost }}</span>
            </div>
          </div>

          <div class="form-group">
            <label class="font-weight-normal" for="price">Price</label>
            <input type="number" class="form-control" id="price" name="price"
                   required
                   [(ngModel)]="product.price"
                   [ngClass]="{'is-invalid': !price.valid && !price.pristine}"
                   #price="ngModel">
            <div class="invalid-feedback">
              <span *ngIf="!serviceResult.validationErrors || !serviceResult.validationErrors.price">Please enter the product's price.</span>
              <span *ngIf="serviceResult.validationErrors && serviceResult.validationErrors.price">{{ serviceResult.validationErrors.price }}</span>
            </div>
          </div>

          <div class="form-group">
            <label class="font-weight-normal" for="quantity">Quantity</label>
            <input type="number" class="form-control" id="quantity" name="quantity"
                   required
                   [(ngModel)]="product.quantity"
                   [ngClass]="{'is-invalid': !quantity.valid && !quantity.pristine}"
                   #quantity="ngModel">
            <div class="invalid-feedback">
              <span *ngIf="!serviceResult.validationErrors || !serviceResult.validationErrors.quantity">Please enter the product's quantity.</span>
              <span *ngIf="serviceResult.validationErrors && serviceResult.validationErrors.quantity">{{ serviceResult.validationErrors.quantity }}</span>
            </div>
          </div>

        </div>

        <div class="card-footer">
          <button type="button" class="btn btn-secondary"
                  (click)="goToProducts()">
            Cancel
          </button>
          <button type="submit" class="btn btn-cool text-white float-right"
                  [disabled]="!productForm.form.valid || submitted || !productForm.form.dirty">
            Save
          </button>

        </div>

      </fieldset>
    </form>

  </div>

  <button type="button" class="btn btn-cool text-white btn-block mt-3"
          *ngIf="product && product.id > 0"
          (click)="delete()">
    Delete this product
  </button>

</div>
