<router-outlet></router-outlet>

<nav class="navbar navbar-expand fixed-bottom navbar-light bg-light">
  <div class="container-fluid">
    <div class="text-center w-100">
      <ul class="navbar-nav">
        <li class="nav-item col">
          <a class="nav-link" href="#">
            <i class="bi-upc-scan" style="font-size:2rem"></i>
            Scan
          </a>
        </li>
        <li class="nav-item col">
          <a class="nav-link" href="#">
            <i class="bi-house-fill" style="font-size:2rem"></i>
            Home
          </a>
        </li>
        <li class="nav-item col">
          <a class="nav-link" href="#">
            <i class="bi-cart-fill" style="font-size:2rem"></i>
            Checkout
          </a>
        </li>
      </ul>
    </div>    
  </div>
</nav>
