<div class="container-fluid" *ngIf="invoice">
  <div class="mt-5">

    <h6>
      <span class="font-weight-normal">Time: </span>
      <span class="text-primary">{{ invoice.createdTime | date:'MMM d, yy h:mm a' }}</span>
    </h6>
    <h6>
      <span class="font-weight-normal">Reference #: </span>
      <span class="text-primary">{{ invoice.referenceNumber }}</span>
    </h6>

    <ul class="list-group mb-3 mt-3">
      <li class="list-group-item d-flex justify-content-between lh-sm"
          *ngIf="invoice.items.length===0">
        <h6 class="my-0 text-primary">...</h6>
      </li>
      <li class="list-group-item d-flex justify-content-between lh-sm"
          *ngFor="let item of invoice.items">
        <div>
          <h6 class="my-0">{{ item.product.name }} <span class="text-primary">x {{ item.quantity }}</span></h6>
          <small class="text-muted">{{ item.product.upc }}</small>
        </div>
        <span class="text-muted">{{ item.total | currency:'PHP':'₱' }}</span>
      </li>
      <li class="list-group-item d-flex justify-content-between">
        <h6>Total</h6>
        <strong class="text-primary">{{ invoice.total | currency:'PHP':'₱' }}</strong>
      </li>
    </ul>

    <button type="button" class="btn btn-primary btn-block mt-3"
            (click)="goToInvoices()">
      Go to invoice list
    </button>

  </div>
</div>
