<div class="container-fluid" *ngIf="invoice">
  <div class="row mt-5">
    <div class="col-md-6 order-md-2 mb-3">

      <h6>
        <span class="font-weight-normal">Time: </span>
        <span class="text-cool">{{ invoice.createdTime | date:'MMM d, yy h:mm a' }}</span>
      </h6>
      <h6>
        <span class="font-weight-normal">Reference #: </span>
        <span class="text-cool">{{ invoice.referenceNumber }}</span>
      </h6>

      <ul class="list-group mb-3 mt-3">
        <li class="list-group-item d-flex justify-content-between lh-sm"
            *ngIf="invoice.items.length===0">
          <h6 class="my-0 text-cool">...</h6>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-sm"
            *ngFor="let item of invoice.items">
          <div>
            <h6 class="my-0">{{ item.product.name }} <span class="text-cool">x {{ item.quantity }}</span></h6>
            <small class="text-muted">{{ item.product.upc }}</small>
          </div>
          <span class="text-muted">₱{{ item.total }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between">
          <span>Total</span>
          <strong class="text-cool">₱{{ invoice.total }}</strong>
        </li>
      </ul>

      <button type="button" class="btn btn-cool text-white btn-block mt-3"
              (click)="goToInvoices()">
        Go to invoice list
      </button>

    </div>

  </div>
</div>
