<div class="container-fluid">

  <div class="mt-5">

    <div class="text-center">
      <img src="https://storage.cloud.google.com/five-star-imgs/logo-web.png" class="d-block mx-auto mb-2" width="72" height="72" />
    </div>
    <app-pos-dashboard-sales-chart></app-pos-dashboard-sales-chart>
    <app-pos-dashboard-sales-figure></app-pos-dashboard-sales-figure>
    <div class="row mt-4">
      <div class="col-4 text-center">
        <a class="btn btn-outline-primary rounded-circle disabled">
          <i class="bi bi-people-fill bi-large"></i>
        </a>
        <p>Customers</p>
      </div>
      <div class="col-4 text-center">
        <a class="btn btn-primary text-white rounded-circle" routerLink="/products">
          <i class="bi bi-inboxes-fill bi-large"></i>
        </a>
        <p>Products</p>
      </div>
      <div class="col-4 text-center">
        <a class="btn btn-outline-primary rounded-circle" routerLink="/invoices">
          <i class="bi bi-file-earmark-spreadsheet-fill bi-large"></i>
        </a>
        <p>Invoices</p>
      </div>
      <div class="col-4 text-center">
        <a class="btn btn-primary text-white rounded-circle disabled">
          <i class="bi bi-stars bi-large"></i>
        </a>
        <p>Popular</p>
      </div>
      <div class="col-4 text-center">
        <a class="btn btn-outline-primary rounded-circle disabled">
          <i class="bi bi-basket-fill bi-large"></i>
        </a>
        <p>Low Stocks</p>
      </div>
      <div class="col-4 text-center">
        <a class="btn btn-primary text-white rounded-circle disabled">
          <i class="bi bi-truck bi-large"></i>
        </a>
        <p>Receiving</p>
      </div>
      <div class="col-4 offset-4 text-center">
        <a class="btn btn-primary text-white rounded-circle" routerLink="/auth/profile">
          <i class="bi bi-person-square bi-large"></i>
        </a>
        <p>Your Profile</p>
      </div>
    </div>

  </div>

  
</div>
