<div class="container-fluid">
  <div class="text-center">
    <img src="https://storage.cloud.google.com/five-star-imgs/logo-web.png" class="d-block mx-auto mb-2" width="72" height="72" />
  </div>
  <app-pos-dashboard-sales-chart></app-pos-dashboard-sales-chart>
  <app-pos-dashboard-sales-figure></app-pos-dashboard-sales-figure>
  <div class="row mt-4">
    <div class="col-4 text-center">
      <a class="btn btn-outline-cool btn-lg rounded-circle disabled">
        <i class="bi bi-people-fill" style="font-size:2rem"></i>
      </a>
      <p>Customers</p>
    </div>
    <div class="col-4 text-center">
      <a class="btn btn-cool text-white btn-lg rounded-circle" routerLink="/products">
        <i class="bi bi-inboxes-fill" style="font-size:2rem"></i>
      </a>
      <p>Products</p>
    </div>
    <div class="col-4 text-center">
      <a class="btn btn-outline-cool btn-lg rounded-circle" routerLink="/invoices">
        <i class="bi bi-file-earmark-spreadsheet-fill" style="font-size:2rem"></i>
      </a>
      <p>Invoices</p>
    </div>
    <div class="col-4 text-center">
      <a class="btn btn-cool text-white btn-lg rounded-circle disabled">
        <i class="bi bi-stars" style="font-size:2rem"></i>
      </a>
      <p>Popular</p>
    </div>
    <div class="col-4 text-center">
      <a class="btn btn-outline-cool btn-lg rounded-circle disabled">
        <i class="bi bi-basket-fill" style="font-size:2rem"></i>
      </a>
      <p>Low Stocks</p>
    </div>
    <div class="col-4 text-center">
      <a class="btn btn-cool text-white btn-lg rounded-circle disabled">
        <i class="bi bi-truck" style="font-size:2rem"></i>
      </a>
      <p>Receiving</p>
    </div>
    <div class="col-4 offset-4 text-center">
      <a class="btn btn-cool text-white btn-lg rounded-circle" routerLink="/auth/profile">
        <i class="bi bi-person-square" style="font-size:2rem"></i>
      </a>
      <p>Your Profile</p>
    </div>
  </div>
</div>
