:host {
  display: block;
}

.scanner-video-wrapper {
  height: 100%;
  margin: auto;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

  .scanner-video-wrapper video {
    object-fit: contain;
    position: relative;
    margin: 0 auto;
    z-index: 2;
  }

@media (orientation: portrait) {
  .scanner {
    height: calc(100vh - 9vh);
  }

  .scanner-video-wrapper video {
    width: 100%;
    height: auto;
    top: 50%;
    transform: translateY(-50%);
  }
}

@media (orientation: landscape) {
  .scanner {
    height: calc(100vh - 19vh);
  }

  .scanner-video-wrapper video {
    width: auto;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
}

.scanner-frame {
  position: absolute;
  margin: auto;
  box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.5);
  z-index: 3;
}

  .scanner-frame > .scanner-frame-border {
    border: 0.1rem solid rgba(168, 56, 93, 0.2);
    width: 100%;
    height: 100%;
  }

  .scanner-frame > .scanner-frame-border:after,
  .scanner-frame > .scanner-frame-border:before,
  .scanner-frame > .scanner-frame-angle:after,
  .scanner-frame > .scanner-frame-angle:before {
    content: '';
    display: block;
    position: absolute;
    width: 10vw;
    height: 5vw;
    border: 0.2rem solid transparent;
  }

  .scanner-frame > .scanner-frame-border:after,
  .scanner-frame > .scanner-frame-border:before {
    top: 0;
    border-top-color: #a8385d;
  }

  .scanner-frame > .scanner-frame-angle:after,
  .scanner-frame > .scanner-frame-angle:before {
    bottom: 0;
    border-bottom-color: #a8385d;
  }

  .scanner-frame > .scanner-frame-border:before,
  .scanner-frame > .scanner-frame-angle:before {
    left: 0;
    border-left-color: #a8385d;
  }

  .scanner-frame > .scanner-frame-border:after,
  .scanner-frame > .scanner-frame-angle:after {
    right: 0;
    border-right-color: #a8385d;
  }


.scanner-canvas {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin: auto;
  z-index: 4;
}
