<div class="card mb-2">
  <div class="card-header bg-transparent">
    <h5 class="card-title mb-0">
      <i class="bi bi-pie-chart-fill text-primary"></i>
      {{ today | date:'yyyy' }} Sales
    </h5>
  </div>
  <div class="card-body p-1">
    <div class="d-flex" style="height:18vh">
      <ngx-charts-area-chart [xAxis]="true"
                             [yAxis]="true"
                             [curve]="curve"
                             [scheme]="colorScheme"
                             [results]="data">
      </ngx-charts-area-chart>
    </div>
  </div>
  <div class="card-footer p-0 bg-transparent text-center">
    <div class="container-fluid">
      <div class="row">
        <div class="col-4 col-sm-4 p-2 border border-top-0 border-bottom-0 border-left-0">
          <small>{{ totalRevenue | currency:'PHP':'₱' }}</small>
          <br /><small class="font-weight-light">Total Revenue</small>
        </div>
        <div class="col-4 col-sm-4 p-2 border border-top-0 border-bottom-0 border-left-0">
          <small>{{ totalCost | currency:'PHP':'₱' }}</small>
          <br /><small class="font-weight-light">Total Cost</small>
        </div>
        <div class="col-4 col-sm-4 p-2">
          <small>{{ totalProfit | currency:'PHP':'₱' }}</small>
          <br /><small class="font-weight-light">Total Profit</small>
        </div>
      </div>
    </div>
  </div>
</div>
