@import 'variables';
@import '../node_modules/bootstrap/scss/bootstrap';

.bi.bi-large {
  @include font-size(2rem);
}

.router-outlet-before-bottom-navbar {
  overflow: auto;
}

@media (orientation: portrait) {
  .navbar.fixed-bottom {
    height: 9vh;
  }

  .router-outlet-before-bottom-navbar {
    max-height: calc(100vh - 9vh);
  }
}

@media (orientation: landscape) {
  .navbar.fixed-bottom {
    height: 19vh;
  }

  .router-outlet-before-bottom-navbar {
    max-height: calc(100vh - 19vh);
  }
}
