<div class="container-fluid">
  <div class="mt-5">

    <div class="input-group mt-1 mb-3">
      <input #searchBox id="search-box" type="text" class="form-control" placeholder="Search by name or barcode"
             (keyup.enter)="search(searchBox.value)">
      <div class="input-group-append">
        <button type="button" class="btn btn-primary"
                (click)="search(searchBox.value)">
          <i class="bi bi-search"></i>
        </button>
      </div>
    </div>

    <div *ngIf="!(spinnerService.loading$ | async); else loading">

      <div class="card shadow-sm text-center" *ngIf="product && product.id > 0; else notfound">
        <div class="card-header bg-primary">
          <h4 class="my-0 font-weight-normal text-white">{{product.name}}</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title">{{ product.price | currency:'PHP':'₱' }}</h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>
              <h5 class="mb-0">{{product.quantity}}</h5>
            </li>
            <li class="text-muted">
              <small>Stock on hand</small>
            </li>
            <li>
              <h5 class="mb-0">{{product.upc}}</h5>
            </li>
            <li class="text-muted">
              <small>Barcode</small>
            </li>
          </ul>
          <button type="button" class="btn btn-lg btn-block btn-outline-primary"
                  (click)="addToCart()">
            Proceed to checkout
          </button>
        </div>
      </div>

      <ng-template #notfound>
        <div class="card shadow-sm">
          <div class="card-body">
            <h5 class="card-title">Product not found</h5>
            <p class="card-text">Unable to find the product you were looking for. Please check if the name or barcode is correct.</p>
          </div>
        </div>
      </ng-template>

    </div>

    <ng-template #loading>
      <div class="text-center mt-5">
        <div class="spinner-border text-cool" style="width:5rem;height:5rem;" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </ng-template>    

  </div>
</div>
