<div class="card shadow-sm text-center" *ngIf="product && product.id > 0; else scanner">
  <div class="card-header bg-primary">
    <h4 class="my-0 font-weight-normal text-white">{{product.name}}</h4>
  </div>
  <div class="card-body">
    <h1 class="card-title">{{ product.price | currency:'PHP':'₱' }}</h1>
    <ul class="list-unstyled mt-3 mb-4">
      <li>
        <h5 class="mb-0">{{product.quantity}}</h5>
      </li>
      <li class="text-muted">
        <small>Stock on hand</small>
      </li>
      <li>
        <h5 class="mb-0">{{product.upc}}</h5>
      </li>
      <li class="text-muted">
        <small>Barcode</small>
      </li>
    </ul>
    <button type="button" class="btn btn-lg btn-block btn-outline-primary"
            (click)="addToCart()">
      Proceed to checkout
    </button>
  </div>
</div>

<ng-template #scanner>
  <one-dimentional-scanner (scanSuccess)="onScanSuccess($event)"></one-dimentional-scanner>
</ng-template>
