name: Build, Test and Release
on:
  push:
    tags:
      - 'v*'
      
jobs:
  build-test-artifact:
    if: ${{ startsWith(github.ref, 'refs/tags/v') }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 14.x
        uses: actions/setup-node@v1
        with:
          node-version: 14.x
      
      - name: Install dependencies
        run: npm ci
      
      - name: Get tag version
        id: TagVersion
        run: echo ::set-output name=version::${GITHUB_REF#refs/tags/}
        
      - name: Check output
        env:
          RELEASE_VERSION: ${{ steps.TagVersion.outputs.version }}
        run: |
          echo $RELEASE_VERSION
          echo ${{ steps.TagVersion.outputs.version }}
          
  
