ngb-pagination ::ng-deep a {
  color: #a8385d !important;
}

ngb-pagination ::ng-deep .page-item.active .page-link {
  color: #fff !important;
  border-color: #a8385d;
  background: linear-gradient(#a8385d, #C24770);
}

  ngb-pagination ::ng-deep .page-item.active .page-link:focus, .page-link:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 0.1rem #C24770;
  }

ngb-pagination ::ng-deep .page-link:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.1rem #C24770;
}
